CREATE DATABASE rediam
GO
USE [master]
GO
/****** Object:  Database [rediam]    Script Date: 17/10/2023 11:40:20 ******/
CREATE DATABASE [rediam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rediam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\rediam.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'rediam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\rediam_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rediam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rediam]
GO
/****** Object:  Table [dbo].[Montes]    Script Date: 17/10/2023 11:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Montes](
	[CODIGO_MONTE] [int] NOT NULL,
	[COD_PROVINCIA] [nchar](2) NOT NULL,
	[ESPACIO_NATURAL] [varchar](255) NOT NULL,
	[SUPERFICIE] [decimal](18, 1) NOT NULL,
	[NUMERO_MONTES] [int] NOT NULL,
 CONSTRAINT [PK_Montes] PRIMARY KEY CLUSTERED 
(
	[CODIGO_MONTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 17/10/2023 11:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[Codigo] [nchar](2) NOT NULL,
	[Provincia] [nchar](40) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Provincias] ([Codigo], [Provincia]) VALUES (N'AL', N'ALMERÍA                                 ')
INSERT [dbo].[Provincias] ([Codigo], [Provincia]) VALUES (N'CA', N'CÁDIZ                                   ')
INSERT [dbo].[Provincias] ([Codigo], [Provincia]) VALUES (N'CO', N'CÓRDOBA                                 ')
ALTER TABLE [dbo].[Montes]  WITH CHECK ADD  CONSTRAINT [FK_Montes_Provincias] FOREIGN KEY([COD_PROVINCIA])
REFERENCES [dbo].[Provincias] ([Codigo])
GO
ALTER TABLE [dbo].[Montes] CHECK CONSTRAINT [FK_Montes_Provincias]
GO
USE [master]
GO
