USE [master]
GO

DROP DATABASE [GI1920]
GO

CREATE DATABASE [GI1920]
GO

USE [GI1920]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPermiso](
	[rolName] [varchar](50) NOT NULL,
	[pantalla] [varchar](50) NOT NULL,
	[acceso] [bit] NOT NULL,
	[insertar] [bit] NOT NULL,
	[modificar] [bit] NOT NULL,
	[borrar] [bit] NOT NULL,
 CONSTRAINT [PK_tPermiso] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC,
	[pantalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tRol]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tRol](
	[rolName] [varchar](50) NOT NULL,
	[rolDes] [varchar](255) NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_tRol] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tUsuario]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tUsuario](
	[nif] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[rolName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tUsuario] PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tPermiso]  WITH CHECK ADD  CONSTRAINT [FK_tPermiso_tRol] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
GO
ALTER TABLE [dbo].[tPermiso] CHECK CONSTRAINT [FK_tPermiso_tRol]
GO
ALTER TABLE [dbo].[tUsuario]  WITH CHECK ADD  CONSTRAINT [FK_tUsuario_tRol] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tUsuario] CHECK CONSTRAINT [FK_tUsuario_tRol]
GO
/****** Object:  StoredProcedure [dbo].[InsertaUsuario]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

DELETE tRol;
INSERT INTO tRol VALUES('administrador', 'administrador',1);
INSERT INTO tRol VALUES('farmaceutico', 'farmaceutico',0);
INSERT INTO tRol VALUES('medico', 'medico',0);
GO

DELETE tUsuario;
GO
INSERT INTO tUsuario VALUES('00000000X', 'admin','administrador');
INSERT INTO tUsuario VALUES('11111111A', '1','farmaceutico');
INSERT INTO tUsuario VALUES('22222222B', '2','paciente');
GO

DELETE tPermiso;
GO
INSERT INTO tPermiso VALUES('administrador','USUARIOS',1,1,1,1);
INSERT INTO tPermiso VALUES('administrador','PACIENTES',1,1,1,1);
INSERT INTO tPermiso VALUES('administrador','RECETAS',1,1,1,1);



GO

CREATE TABLE [dbo].[tProvincia](
	[Codigo] [varchar](3) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_tPais] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[tLaboratorio](
	[CIF] [varchar](50) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Poblacion] [varchar](250) NULL,
	[Provincia] [varchar](3) NOT NULL,
 CONSTRAINT [PK_tLaboratorio] PRIMARY KEY CLUSTERED 
(
	[CIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[tLaboratorio]  WITH CHECK ADD  CONSTRAINT [FK_tLaboratorio_tProvincia] FOREIGN KEY([Provincia])
REFERENCES [dbo].[tProvincia] ([Codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLaboratorio] CHECK CONSTRAINT [FK_tLaboratorio_tProvincia]
GO

DELETE tProvincia;
GO

INSERT INTO tProvincia VALUES('VI','Alava');
INSERT INTO tProvincia VALUES('AB','Albacete');
INSERT INTO tProvincia VALUES('A','Alicante');
GO

DELETE tLaboratorio ;
GO

INSERT INTO tLaboratorio VALUES('B00000000','ABALON PHARMA SL','ALCOBENDAS','M');
INSERT INTO tLaboratorio VALUES('B00000001','ABAO PHARMA SL','MADRID','M');
INSERT INTO tLaboratorio VALUES('B00000002','ADVANCED ACCELERATOR APPLICATIONS IBERICA SL','ESPLUGUES DE LLOBREGAT','B');
GO

