USE [master]
GO
DROP DATABASE [P22_2022];
GO
CREATE DATABASE [P22_2022];
GO
USE [P22_2022]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CENTRO] [varchar](50) NOT NULL,
	[PROCEDIMIENTO] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[PACIENTE] [VARCHAR](50) NOT NULL,
 CONSTRAINT [PK_OPERACION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CENTRO](
	[CODIGO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](250) NOT NULL,
 CONSTRAINT [PK_CENTRO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROCEDIMIENTO_REALIZADO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROCEDIMIENTO_REALIZADO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD  CONSTRAINT [FK_OPERACION_CENTRO] FOREIGN KEY([CENTRO])
REFERENCES [dbo].[CENTRO] ([CODIGO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERACION] CHECK CONSTRAINT [FK_OPERACION_CENTRO]
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD  CONSTRAINT [FK_OPERACION_PROCEDIMIENTO_REALIZADO] FOREIGN KEY([PROCEDIMIENTO])
REFERENCES [dbo].[PROCEDIMIENTO_REALIZADO] ([CODIGO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERACION] CHECK CONSTRAINT [FK_OPERACION_PROCEDIMIENTO_REALIZADO]
GO

DELETE CENTRO;
GO

INSERT INTO CENTRO VALUES('10.004','Hospital de Especialidades Virgen de Valme');
INSERT INTO CENTRO VALUES('10.005','Hospital Regional Virgen Macarena');
INSERT INTO CENTRO VALUES('10.007','Hospital Comarcal de La Merced');
GO

DELETE PROCEDIMIENTO_REALIZADO;
GO

INSERT INTO PROCEDIMIENTO_REALIZADO (DESCRIPCION) VALUES('ABORTO');
INSERT INTO PROCEDIMIENTO_REALIZADO (DESCRIPCION) VALUES('ABDOMEN AGUDO');
INSERT INTO PROCEDIMIENTO_REALIZADO (DESCRIPCION) VALUES('ABSCESO');
GO
DELETE OPERACION
GO

INSERT INTO OPERACION (CENTRO,PROCEDIMIENTO,FECHA,PACIENTE) VALUES ('10.018', 159, '01/12/2022', 'PACIENTE 1');
INSERT INTO OPERACION (CENTRO,PROCEDIMIENTO,FECHA,PACIENTE) VALUES ('10.156', 148, '01/12/2022', 'PACIENTE 2');
INSERT INTO OPERACION (CENTRO,PROCEDIMIENTO,FECHA,PACIENTE) VALUES ('10.245', 26, '01/12/2022', 'PACIENTE 3');
GO