USE [master]
GO

DROP DATABASE [GI1920]
GO

CREATE DATABASE [GI1920]
GO

USE [GI1920]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[tProvincia](
	[Codigo] [varchar](3) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_tPais] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[tLaboratorio](
	[CIF] [varchar](50) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Poblacion] [varchar](250) NULL,
	[Provincia] [varchar](3) NOT NULL,
 CONSTRAINT [PK_tLaboratorio] PRIMARY KEY CLUSTERED 
(
	[CIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[tLaboratorio]  WITH CHECK ADD  CONSTRAINT [FK_tLaboratorio_tProvincia] FOREIGN KEY([Provincia])
REFERENCES [dbo].[tProvincia] ([Codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLaboratorio] CHECK CONSTRAINT [FK_tLaboratorio_tProvincia]
GO

DELETE tProvincia;
GO

INSERT INTO tProvincia VALUES('VI','Alava');
INSERT INTO tProvincia VALUES('AB','Albacete');
INSERT INTO tProvincia VALUES('A','Alicante');
GO

DELETE tLaboratorio ;
GO

INSERT INTO tLaboratorio VALUES('B00000000','ABALON PHARMA SL','ALCOBENDAS','M');
INSERT INTO tLaboratorio VALUES('B00000001','ABAO PHARMA SL','MADRID','M');
INSERT INTO tLaboratorio VALUES('B00000002','ADVANCED ACCELERATOR APPLICATIONS IBERICA SL','ESPLUGUES DE LLOBREGAT','B');
GO

